@import './media-query-mixins';

.header {
  background: $header-bg;
  color: $header-color;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
  height: $header-height;
}

.header__title {
  margin: 0;
}

.header__nav-toggle {
  cursor: pointer;

  @include desktop {
    display: none;
  }
}
